# Database
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_secret_password_here
DB_NAME=foodsharing_db

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=your_secret_password_here
MINIO_ENDPOINT=minio:9000
MINIO_BUCKET=food-images
MINIO_USE_SSL=false
MINIO_PUBLIC_BASE_URL=http://localhost:9000

# App
JWT_SECRET=your_secret_jwt_key_here
APP_PORT=8080
ACCESS_TOKEN_TTL=168h
REFRESH_TOKEN_TTL=336h

FCM_ENABLED=false
FIREBASE_CREDENTIALS_FILE=/run/secrets/firebase-service-account.json

# Email
EMAIL_PROVIDER=resend
RESEND_API_KEY=
EMAIL_FROM_EMAIL=onboarding@resend.dev
EMAIL_FROM_NAME=FoodSharing
EMAIL_REQUEST_TIMEOUT=10s

GOOGLE_CLIENT_ID=your_id_here
GOOGLE_CLIENT_SECRET=your_secret_here

YANDEX_CLIENT_ID=your_id_here
YANDEX_CLIENT_SECRET=your_secret_here
