openapi: 3.0.3
info:
  title: Food-Sharing App API
  description: |
    API для приложения Food-Sharing.

    ## Роли
    - **USER** — поиск, бронирование, заказы
    - **PARTNER** — управление боксами, аналитика
    - **ADMIN** — веб-панель модерации

    ## Аутентификация
    - Access Token: 30 минут
    - Refresh Token: 14 дней
    - JWT Bearer token в заголовке Authorization
  version: 1.0.0
  contact:
    name: Tech Lead
    email: dmitry@feedex.ru

servers:
  - url: https://api.feedex.ru/api/v1
    description: Production
  - url: http://localhost:8080/api/v1
    description: Development

tags:
  - name: Auth
    description: Регистрация, авторизация, токены
  - name: Users
    description: Управление пользователями
  - name: Partner
    description: Функционал партнёра
  - name: Restaurants
    description: Заведения
  - name: Offers
    description: Предложения (сюрприз-боксы)
  - name: Orders
    description: Заказы
  - name: Analytics
    description: Аналитика для партнёра
  - name: Categories
    description: Категории предложений
  - name: Admin
    description: Модерация и администрирование

paths:
  # ==================== AUTH ====================
  /auth/register:
    post:
      tags: [Auth]
      summary: Регистрация USER
      operationId: registerUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: Успешная регистрация
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '409':
          description: Email уже существует
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/register/partner:
    post:
      tags: [Auth]
      summary: Регистрация PARTNER (заявка)
      operationId: registerPartner
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartnerRegisterRequest'
      responses:
        '201':
          description: Заявка подана
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '409':
          description: Email уже существует
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/login:
    post:
      tags: [Auth]
      summary: Вход (USER/PARTNER)
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Успешный вход
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Неверные учётные данные
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/oauth:
    post:
      tags: [Auth]
      summary: OAuth вход (Google/Apple) — только USER
      operationId: oauthLogin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthRequest'
      responses:
        '200':
          description: Существующий пользователь
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/AuthResponse'
                  - type: object
                    properties:
                      isNewUser:
                        type: boolean
                        example: false
        '201':
          description: Новый пользователь
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/AuthResponse'
                  - type: object
                    properties:
                      isNewUser:
                        type: boolean
                        example: true
        '409':
          description: Email занят другим провайдером
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/refresh:
    post:
      tags: [Auth]
      summary: Обновление токенов
      operationId: refreshTokens
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken:
                  type: string
      responses:
        '200':
          description: Новые токены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '401':
          description: Невалидный refresh token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/logout:
    post:
      tags: [Auth]
      summary: Выход (инвалидация refresh token)
      operationId: logout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken:
                  type: string
      responses:
        '204':
          description: Успешный выход
        '400':
          description: Невалидное тело запроса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Невалидный refresh token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/me:
    get:
      tags: [Auth]
      summary: Текущий пользователь
      operationId: getCurrentUser
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Данные пользователя
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDto'

  /auth/change-password:
    post:
      tags: [Auth]
      summary: Смена пароля (авторизован)
      operationId: changePassword
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [currentPassword, newPassword]
              properties:
                currentPassword:
                  type: string
                newPassword:
                  type: string
                  minLength: 8
      responses:
        '200':
          description: Пароль изменён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '400':
          description: Неверный текущий пароль
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/verify-email/request:
    post:
      tags: [Auth]
      summary: Запрос OTP для верификации email
      operationId: requestEmailVerification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestEmailVerificationRequest'
      responses:
        '200':
          description: Код верификации отправлен, если email существует
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestEmailVerificationResponse'
        '400':
          description: Невалидный email
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Слишком много запросов (код уже был отправлен недавно)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Не удалось доставить письмо с кодом верификации
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Неожиданная ошибка запроса верификации
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/verify-email/confirm:
    post:
      tags: [Auth]
      summary: Подтверждение email по OTP-коду
      operationId: verifyEmail
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyEmailRequest'
      responses:
        '200':
          description: Email подтверждён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '400':
          description: Невалидный email или код
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/forgot-password:
    post:
      tags: [Auth]
      summary: Запрос OTP для сброса пароля
      operationId: forgotPassword
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
      responses:
        '200':
          description: OTP отправлен (если email существует)
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  expiresIn:
                    type: integer
                    description: Секунды до истечения кода
                    example: 600
        '400':
          description: Невалидный email или тело запроса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Не удалось доставить письмо с кодом сброса пароля
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Неожиданная ошибка запроса сброса пароля
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/verify-reset-code:
    post:
      tags: [Auth]
      summary: Проверка OTP-кода
      operationId: verifyResetCode
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, code]
              properties:
                email:
                  type: string
                  format: email
                code:
                  type: string
                  minLength: 6
                  maxLength: 6
      responses:
        '200':
          description: Код верный
          content:
            application/json:
              schema:
                type: object
                properties:
                  resetToken:
                    type: string
        '400':
          description: Неверный код
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/reset-password:
    post:
      tags: [Auth]
      summary: Установка нового пароля
      operationId: resetPassword
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [resetToken, newPassword]
              properties:
                resetToken:
                  type: string
                newPassword:
                  type: string
                  minLength: 8
      responses:
        '200':
          description: Пароль обновлён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '400':
          description: Невалидный токен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # ==================== USERS ====================
  /users/me:
    patch:
      tags: [Users]
      summary: Редактирование профиля (name, phone, email)
      operationId: updateProfile
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProfileRequest'
      responses:
        '200':
          description: Профиль обновлён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDto'
        '400':
          description: Невалидные данные
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Пользователь не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags: [Users]
      summary: Удаление аккаунта (GDPR)
      operationId: deleteAccount
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                password:
                  type: string
                  description: Только для email-регистрации
      responses:
        '204':
          description: Аккаунт удалён
        '400':
          description: Есть активные заказы
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # ==================== ADMIN ====================
  /admin/users:
    get:
      tags: [Admin]
      summary: Список пользователей и партнёров
      operationId: getAdminUsers
      security:
        - bearerAuth: []
      parameters:
        - name: role
          in: query
          schema:
            type: string
            enum: [USER, PARTNER]
          description: Фильтр по роли
        - name: q
          in: query
          schema:
            type: string
          description: Поиск по email, имени, телефону или id
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Список пользователей
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersResponse'
        '400':
          description: Невалидный фильтр роли или пагинация
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Недостаточно прав (только ADMIN)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /admin/users/{id}/block:
    post:
      tags: [Admin]
      summary: Заблокировать пользователя или партнёра
      operationId: blockUser
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Пользователь заблокирован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDto'
        '400':
          description: Нельзя заблокировать ADMIN или удалённый аккаунт
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Недостаточно прав (только ADMIN)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Пользователь не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /admin/users/{id}/unblock:
    post:
      tags: [Admin]
      summary: Разблокировать пользователя или партнёра
      operationId: unblockUser
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Пользователь разблокирован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDto'
        '400':
          description: Нельзя разблокировать ADMIN или удалённый аккаунт
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Недостаточно прав (только ADMIN)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Пользователь не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /admin/partners/pending:
    get:
      tags: [Admin]
      summary: Список заявок партнёров со статусом PENDING
      operationId: getPendingPartners
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Список заявок
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PendingPartnersResponse'
        '403':
          description: Недостаточно прав (только ADMIN)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /admin/partners/{id}/approve:
    post:
      tags: [Admin]
      summary: Одобрить партнёра (PENDING -> APPROVED)
      operationId: approvePartner
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Партнёр одобрен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDto'
        '400':
          description: Недопустимый переход статуса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Недостаточно прав (только ADMIN)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Партнёр не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /admin/partners/{id}/reject:
    post:
      tags: [Admin]
      summary: Отклонить партнёра (PENDING -> REJECTED)
      operationId: rejectPartner
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Партнёр отклонён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDto'
        '400':
          description: Недопустимый переход статуса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Недостаточно прав (только ADMIN)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Партнёр не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /admin/restaurants/{id}:
    patch:
      tags: [Admin]
      summary: Обновление административных полей ресторана
      operationId: updateAdminRestaurant
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminRestaurantUpdateRequest'
      responses:
        '200':
          description: Административные поля обновлены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminRestaurantDto'
        '400':
          description: Некорректный id ресторана или комиссия
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Недостаточно прав (только ADMIN)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Ресторан не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /admin/reviews:
    get:
      tags: [Admin]
      summary: Общий список отзывов с данными авторов
      operationId: getAdminReviews
      security:
        - bearerAuth: []
      parameters:
        - name: restaurantId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Список отзывов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminReviewsResponse'
        '400':
          description: Некорректные параметры запроса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Недостаточно прав (только ADMIN)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /admin/restaurants/{id}/reviews:
    get:
      tags: [Admin]
      summary: Список отзывов ресторана с данными авторов
      operationId: getAdminRestaurantReviews
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Список отзывов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminReviewsResponse'
        '400':
          description: Некорректные параметры запроса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Недостаточно прав (только ADMIN)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /admin/reviews/{id}:
    delete:
      tags: [Admin]
      summary: Удалить отзыв
      operationId: deleteReview
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Отзыв удалён
        '400':
          description: Некорректный id отзыва
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Недостаточно прав (только ADMIN)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Отзыв не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Ошибка удаления
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # ==================== PARTNER ====================
  /partner/restaurant:
    get:
      tags: [Partner]
      summary: Профиль заведения партнёра
      operationId: getPartnerRestaurant
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Данные заведения
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestaurantDetailDto'
        '403':
          description: Партнер не одобрен (PARTNER_NOT_APPROVED)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags: [Partner]
      summary: Обновление профиля заведения
      operationId: updatePartnerRestaurant
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartnerRestaurantUpdateRequest'
      responses:
        '200':
          description: Обновлённые данные
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestaurantDetailDto'
        '403':
          description: Партнер не одобрен (PARTNER_NOT_APPROVED)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /partner/reviews:
    get:
      tags: [Partner]
      summary: Отзывы ресторана текущего партнёра
      operationId: getPartnerReviews
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Список отзывов ресторана партнёра
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestaurantReviewsResponse'
        '404':
          description: Ресторан партнёра не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Ошибка получения отзывов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /partner/orders:
    get:
      tags: [Partner]
      summary: Заказы партнёра
      operationId: getPartnerOrders
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [CREATED, PAID, COMPLETED, CANCELLED]
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Список заказов
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PartnerOrderDto'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '403':
          description: Партнер не одобрен (PARTNER_NOT_APPROVED)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /partner/orders/{id}/complete:
    post:
      tags: [Partner]
      summary: Подтверждение выдачи
      operationId: completeOrder
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Заказ завершён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompleteOrderResponse'
        '400':
          description: Неверный статус заказа
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Партнер не одобрен (PARTNER_NOT_APPROVED)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /partner/offers:
    get:
      tags: [Partner]
      summary: Предложения партнёра
      operationId: getPartnerOffers
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Список предложений
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/OfferDetailDto'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '403':
          description: Партнер не одобрен (PARTNER_NOT_APPROVED)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags: [Partner]
      summary: Создание предложения
      operationId: createOffer
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOfferRequest'
      responses:
        '201':
          description: Предложение создано
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferDetailDto'
        '403':
          description: Партнер не одобрен (PARTNER_NOT_APPROVED)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /partner/offers/{id}:
    patch:
      tags: [Partner]
      summary: Обновление предложения
      operationId: updateOffer
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOfferRequest'
      responses:
        '200':
          description: Обновлённые данные
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferDetailDto'
        '403':
          description: Не ваше предложение или партнер не одобрен (PARTNER_NOT_APPROVED)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags: [ Partner ]
      summary: Удаление предложения
      operationId: deleteOffer
      security:
        - bearerAuth: [ ]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Предложение успешно удалено
        '403':
          description: Попытка удаления чужого предложения или партнер не одобрен (PARTNER_NOT_APPROVED)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Предложение не найдено

  /partner/analytics:
    get:
      tags: [Analytics]
      summary: Аналитика партнёра
      operationId: getPartnerAnalytics
      security:
        - bearerAuth: []
      parameters:
        - name: startDate
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: groupBy
          in: query
          schema:
            type: string
            enum: [day, week, month]
            default: day
      responses:
        '200':
          description: Статистика
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsResponse'
        '403':
          description: Партнер не одобрен (PARTNER_NOT_APPROVED)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # ==================== RESTAURANTS ====================
  /restaurants:
    get:
      tags: [Restaurants]
      summary: Список ресторанов
      operationId: getRestaurants
      parameters:
        - name: lat
          in: query
          schema:
            type: number
            format: double
            minimum: -90
            maximum: 90
        - name: lng
          in: query
          schema:
            type: number
            format: double
            minimum: -180
            maximum: 180
        - name: radius
          in: query
          schema:
            type: integer
            minimum: 1
            description: Радиус в метрах
        - name: categoryId
          in: query
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Список ресторанов
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RestaurantDto'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
    post:
      tags: [Restaurants]
      summary: Создание карточки ресторана
      operationId: createRestaurant
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRestaurantRequest'
      responses:
        '201':
          description: Ресторан создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestaurantDetailDto'
        '400':
          description: Невалидные данные ресторана
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Только одобренный PARTNER может создать ресторан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: У партнёра уже есть ресторан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /restaurants/{id}:
    get:
      tags: [Restaurants]
      summary: Детали ресторана
      operationId: getRestaurantById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Данные ресторана
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestaurantDetailDto'
        '404':
          description: Не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /restaurants/{id}/reviews:
    get:
      tags: [Restaurants]
      summary: Отзывы ресторана
      operationId: getRestaurantReviews
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Список отзывов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestaurantReviewsResponse'
        '500':
          description: Ошибка получения отзывов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /restaurants/upload:
    post:
      tags: [Restaurants]
      summary: Загрузка изображения
      operationId: uploadRestaurantImage
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [image, kind]
              properties:
                image:
                  type: string
                  format: binary
                  description: JPG/PNG/HEIC(HEIF), максимум 10MB
                kind:
                  type: string
                  enum: [logo, cover]
                  description: Назначение изображения. logo сохраняется как logoUrl, cover сохраняется как coverUrl.
      responses:
        '200':
          description: Изображение загружено
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    type: string
                    enum: [logo, cover]
                  field:
                    type: string
                    enum: [logoUrl, coverUrl]
                    description: Поле ресторана, в которое нужно записать url.
                  url:
                    type: string
                    example: https://cdn.feedex.ru/food-images/restaurants/logos/0f3d3f95-0e2b-4b5c-9ce9-7f4ef0b6a312.jpg
        '400':
          description: Файл отсутствует, kind не logo/cover, формат не поддержан или изображение повреждено/не декодируется
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '413':
          description: Файл слишком большой
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Хранилище временно недоступно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Неожиданная ошибка загрузки
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # ==================== OFFERS ====================
  /offers:
    get:
      tags: [Offers]
      summary: Список предложений
      operationId: getOffers
      parameters:
        - name: lat
          in: query
          schema:
            type: number
            format: double
            minimum: -90
            maximum: 90
        - name: lng
          in: query
          schema:
            type: number
            format: double
            minimum: -180
            maximum: 180
        - name: radius
          in: query
          schema:
            type: integer
            minimum: 1
        - name: isActive
          in: query
          schema:
            type: boolean
          description: По умолчанию возвращаются только активные офферы.
        - name: restaurantId
          in: query
          schema:
            type: string
            format: uuid
        - name: categoryId
          in: query
          schema:
            type: string
            format: uuid
        - name: minPrice
          in: query
          schema:
            type: number
        - name: maxPrice
          in: query
          schema:
            type: number
        - name: sortBy
          in: query
          schema:
            type: string
            enum: [distance, price, pickupTime, rating]
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Список предложений
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/OfferPreviewDto'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

  /offers/{id}:
    get:
      tags: [Offers]
      summary: Детали предложения
      operationId: getOfferById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Данные предложения
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferDetailDto'
        '404':
          description: Не найдено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # ==================== CATEGORIES ====================
  /categories:
    get:
      tags: [Categories]
      summary: Список категорий
      operationId: getCategories
      responses:
        '200':
          description: Категории
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CategoryDto'
    post:
      tags: [Admin]
      summary: Создание категории
      operationId: createCategory
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCategoryRequest'
      responses:
        '201':
          description: Категория создана
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryDto'
        '400':
          description: Невалидные данные
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Недостаточно прав (только ADMIN)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /categories/{id}:
    patch:
      tags: [Admin]
      summary: Обновление категории
      operationId: updateCategory
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCategoryRequest'
      responses:
        '200':
          description: Категория обновлена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryDto'
        '400':
          description: Невалидные данные
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Недостаточно прав (только ADMIN)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Категория не найдена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags: [Admin]
      summary: Удаление категории
      description: Нельзя удалить категорию, если в ней есть активные офферы.
      operationId: deleteCategory
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Категория удалена
        '400':
          description: Категория содержит активные офферы
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Недостаточно прав (только ADMIN)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # ==================== ORDERS ====================
  /orders:
    get:
      tags: [Orders]
      summary: Заказы пользователя
      operationId: getUserOrders
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Список заказов
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/OrderPreviewDto'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
    post:
      tags: [Orders]
      summary: Создание заказа (бронирование)
      operationId: createOrder
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '201':
          description: Заказ создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrderResponse'
        '422':
          description: Предложение недоступно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /orders/{id}:
    get:
      tags: [Orders]
      summary: Детали заказа
      operationId: getOrderById
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Данные заказа
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderDetailDto'

  /orders/me/stats:
    get:
      tags: [Orders]
      summary: Статистика пользователя
      operationId: getUserStats
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Количество спасённых боксов и сумма экономии
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserStatsResponse'

  /orders/me/notifications:
    get:
      tags: [Orders]
      summary: История уведомлений пользователя
      operationId: getUserNotifications
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Список уведомлений
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NotificationDto'

  /orders/{id}/pay:
    post:
      tags: [Orders]
      summary: Оплата (Mock)
      operationId: payOrder
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Оплачено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayOrderResponse'
        '422':
          description: Время на оплату истекло
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /orders/{id}/cancel:
    post:
      tags: [Orders]
      summary: Отмена заказа
      operationId: cancelOrder
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelOrderRequest'
      responses:
        '200':
          description: Отменён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelOrderResponse'
        '400':
          description: Нельзя отменить
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /orders/{id}/review:
    post:
      tags: [Orders]
      summary: Оставить отзыв по завершённому заказу
      operationId: createOrderReview
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReviewRequest'
      responses:
        '201':
          description: Отзыв создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewDto'
        '400':
          description: Заказ ещё не завершён или тело запроса невалидно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Заказ принадлежит другому пользователю
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    limit:
      name: limit
      in: query
      schema:
        type: integer
        default: 20
        maximum: 100
    offset:
      name: offset
      in: query
      schema:
        type: integer
        default: 0

  schemas:
    # ==================== AUTH ====================
    RegisterRequest:
      type: object
      required: [email, password, name, deviceToken]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8
        name:
          type: string
        deviceToken:
          type: string
          description: FCM/APNS token

    PartnerRegisterRequest:
      type: object
      required: [email, password, name, phone, companyName, inn, establishmentName, establishmentAddress, deviceToken]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8
        name:
          type: string
          description: ФИО контактного лица
        phone:
          type: string
        companyName:
          type: string
          description: Название юр. лица
        inn:
          type: string
        establishmentName:
          type: string
          description: Публичное название заведения
        establishmentAddress:
          type: string
        description:
          type: string
        deviceToken:
          type: string
          description: FCM/APNS token

    LoginRequest:
      type: object
      required: [email, password, deviceToken]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
        deviceToken:
          type: string

    RequestEmailVerificationRequest:
      type: object
      required: [email]
      properties:
        email:
          type: string
          format: email

    RequestEmailVerificationResponse:
      type: object
      properties:
        message:
          type: string
        expiresIn:
          type: integer
          description: Секунды до истечения кода
          example: 600

    VerifyEmailRequest:
      type: object
      required: [email, code]
      properties:
        email:
          type: string
          format: email
        code:
          type: string
          minLength: 6
          maxLength: 6

    UpdateProfileRequest:
      type: object
      properties:
        name:
          type: string
        phone:
          type: string
        email:
          type: string
          format: email

    OAuthRequest:
      type: object
      required: [provider, idToken, deviceToken]
      properties:
        provider:
          type: string
          enum: [google, yandex]
        idToken:
          type: string
        deviceToken:
          type: string

    AuthResponse:
      type: object
      properties:
        accessToken:
          type: string
        refreshToken:
          type: string
        expiresIn:
          type: integer
          description: Секунды
          example: 1800
        user:
          $ref: '#/components/schemas/UserDto'

    TokenResponse:
      type: object
      properties:
        accessToken:
          type: string
        refreshToken:
          type: string
        expiresIn:
          type: integer

    UserDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
        name:
          type: string
        phone:
          type: string
        role:
          type: string
          enum: [USER, PARTNER, ADMIN]
        isVerified:
          type: boolean
        isBlocked:
          type: boolean
        accountStatus:
          type: string
          enum: [active, blocked, deleted]
        authProvider:
          type: string
          enum: [email, google, apple]
        partnerStatus:
          type: string
          enum: [PENDING, APPROVED, REJECTED]
        createdAt:
          type: string
          format: date-time

    UsersResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/UserDto'
        pagination:
          $ref: '#/components/schemas/Pagination'

    PendingPartnersResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/UserDto'
        pagination:
          $ref: '#/components/schemas/Pagination'

    # ==================== RESTAURANTS ====================
    AdminRestaurantUpdateRequest:
      type: object
      properties:
        commission:
          type: number
          format: double
          minimum: 0
          maximum: 100
        isActive:
          type: boolean

    AdminRestaurantDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        commission:
          type: number
          format: double
        isActive:
          type: boolean

    RestaurantDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        address:
          type: string
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
        logoUrl:
          type: string
          nullable: true
        coverUrl:
          type: string
          nullable: true
        phone:
          type: string
          nullable: true
        rating:
          type: number
          format: float
        reviewCount:
          type: integer
        categories:
          type: array
          items:
            type: string
        distance:
          type: integer
          nullable: true
          description: Метры
        hasActiveOffers:
          type: boolean
        description:
          type: string
          nullable: true
        workingHours:
          type: string

    RestaurantDetailDto:
      $ref: '#/components/schemas/RestaurantDto'

    RestaurantShortDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        address:
          type: string
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
        phone:
          type: string
          nullable: true

    CreateRestaurantRequest:
      type: object
      required: [name, companyName, inn, address, latitude, longitude]
      properties:
        partnerId:
          type: string
          format: uuid
          description: Обязателен, если ресторан создаёт ADMIN. PARTNER создаёт только для себя.
        name:
          type: string
        companyName:
          type: string
        inn:
          type: string
        address:
          type: string
        description:
          type: string
          nullable: true
        phone:
          type: string
          nullable: true
        logoUrl:
          type: string
          nullable: true
        coverUrl:
          type: string
          nullable: true
        latitude:
          type: number
          format: double
          minimum: -90
          maximum: 90
        longitude:
          type: number
          format: double
          minimum: -180
          maximum: 180
        workingHours:
          type: string
          nullable: true

    PartnerRestaurantUpdateRequest:
      type: object
      properties:
        description:
          type: string
          nullable: true
        workingHours:
          type: string
          nullable: true
        logoUrl:
          type: string
          nullable: true
        coverUrl:
          type: string
          nullable: true

    ReviewDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        rating:
          type: integer
          minimum: 1
          maximum: 5
        comment:
          type: string
        createdAt:
          type: string
          format: date-time

    AdminReviewDto:
      allOf:
        - $ref: '#/components/schemas/ReviewDto'
        - type: object
          properties:
            restaurantId:
              type: string
              format: uuid
            userName:
              type: string
            userEmail:
              type: string
              format: email

    AdminReviewsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AdminReviewDto'
        pagination:
          $ref: '#/components/schemas/Pagination'

    RestaurantReviewsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ReviewDto'
        pagination:
          $ref: '#/components/schemas/Pagination'

    # ==================== OFFERS ====================
    CategoryDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        icon_url:
          type: string
          nullable: true

    CreateCategoryRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
        icon_url:
          type: string
          nullable: true

    OfferCategoryDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string

    OfferPreviewDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        price:
          type: number
        originalPrice:
          type: number
        discount:
          type: integer
          description: Процент скидки
        imageUrl:
          type: string
        restaurantId:
          type: string
          format: uuid
        restaurantName:
          type: string
        distance:
          type: integer
          nullable: true
        pickupStart:
          type: string
          format: date-time
        pickupEnd:
          type: string
          format: date-time
        quantityAvailable:
          type: integer
        category:
          $ref: '#/components/schemas/OfferCategoryDto'

    OfferDetailDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
        price:
          type: number
        originalPrice:
          type: number
        discount:
          type: integer
          description: Процент скидки
        imageUrl:
          type: string
          nullable: true
        quantityAvailable:
          type: integer
        quantityTotal:
          type: integer
        pickupStart:
          type: string
          format: date-time
        pickupEnd:
          type: string
          format: date-time
        isActive:
          type: boolean
        category:
          $ref: '#/components/schemas/OfferCategoryDto'
        restaurant:
          $ref: '#/components/schemas/RestaurantShortDto'

    CreateOfferRequest:
      type: object
      required: [title, price, originalPrice, quantity, pickupStart, pickupEnd, categoryId]
      properties:
        title:
          type: string
        description:
          type: string
        price:
          type: number
        originalPrice:
          type: number
        quantity:
          type: integer
        pickupStart:
          type: string
          format: date-time
        pickupEnd:
          type: string
          format: date-time
        categoryId:
          type: string
          format: uuid
        imageUrl:
          type: string

    UpdateOfferRequest:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        price:
          type: number
        quantity:
          type: integer
        isActive:
          type: boolean

    # ==================== ORDERS ====================
    OrderStatus:
      type: string
      enum: [CREATED, PAID, COMPLETED, CANCELLED]

    CreateOrderRequest:
      type: object
      required: [offerId]
      properties:
        offerId:
          type: string
          format: uuid

    OrderPreviewDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        status:
          $ref: '#/components/schemas/OrderStatus'
        amount:
          type: number
        orderNumber:
          type: string
          nullable: true
        offer:
          type: object
          properties:
            title:
              type: string
            imageUrl:
              type: string
              nullable: true
        restaurant:
          type: object
          properties:
            name:
              type: string
            address:
              type: string
        pickupStart:
          type: string
          format: date-time
        pickupEnd:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time
          nullable: true

    OrderOfferDetailDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        price:
          type: number
        originalPrice:
          type: number
        discount:
          type: integer
        description:
          type: string
        imageUrl:
          type: string
          nullable: true
        restaurantId:
          type: string
          format: uuid
        restaurantName:
          type: string
        distance:
          type: integer
        pickupStart:
          type: string
          format: date-time
        pickupEnd:
          type: string
          format: date-time
        quantityAvailable:
          type: integer

    OrderDetailDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        status:
          $ref: '#/components/schemas/OrderStatus'
        amount:
          type: number
        orderNumber:
          type: string
          nullable: true
        offer:
          $ref: '#/components/schemas/OrderOfferDetailDto'
        restaurant:
          $ref: '#/components/schemas/RestaurantShortDto'
        createdAt:
          type: string
          format: date-time
        paidAt:
          type: string
          format: date-time
          nullable: true
        completedAt:
          type: string
          format: date-time
          nullable: true
        cancelledAt:
          type: string
          format: date-time
          nullable: true
        expiresAt:
          type: string
          format: date-time
          nullable: true
        cancellationReason:
          type: string
          nullable: true

    CreateOrderResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          example: CREATED
        amount:
          type: number
        expiresAt:
          type: string
          format: date-time
          nullable: true
        offer:
          type: object
          properties:
            id:
              type: string
              format: uuid
            title:
              type: string
            pickupStart:
              type: string
              format: date-time
            pickupEnd:
              type: string
              format: date-time
        restaurant:
          type: object
          properties:
            name:
              type: string
            address:
              type: string

    PayOrderResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          example: PAID
        orderNumber:
          type: string
          description: 6-значный номер заказа
          example: "482951"
        paidAt:
          type: string
          format: date-time
          nullable: true

    CancelOrderRequest:
      type: object
      properties:
        reason:
          type: string

    CancelOrderResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          example: CANCELLED
        cancelledAt:
          type: string
          format: date-time
          nullable: true
        refundAmount:
          type: number
          nullable: true

    PartnerOrderDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        orderNumber:
          type: string
        status:
          $ref: '#/components/schemas/OrderStatus'
        amount:
          type: number
        serviceFee:
          type: number
        netPayout:
          type: number
        offerTitle:
          type: string
        customerName:
          type: string
        pickupStart:
          type: string
          format: date-time
        pickupEnd:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time

    CompleteOrderResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          example: COMPLETED
        completedAt:
          type: string
          format: date-time
          nullable: true

    UserStatsResponse:
      type: object
      properties:
        savedBoxes:
          type: integer
        savedMoney:
          type: number

    NotificationDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        message:
          type: string
        created_at:
          type: string
          format: date-time

    CreateReviewRequest:
      type: object
      required: [rating]
      properties:
        rating:
          type: integer
          minimum: 1
          maximum: 5
        comment:
          type: string
          maxLength: 500

    # ==================== ANALYTICS ====================
    AnalyticsResponse:
      type: object
      properties:
        summary:
          type: object
          properties:
            totalBookings:
              type: integer
            completedOrders:
              type: integer
            cancelledOrders:
              type: integer
            expiredOrders:
              type: integer
            grossRevenue:
              type: number
            serviceFee:
              type: number
            netPayout:
              type: number
            conversionRate:
              type: number
            cancelRate:
              type: number
            categoryBreakdown:
              type: array
              items:
                $ref: '#/components/schemas/CategoryStatDto'
        periods:
          type: array
          items:
            $ref: '#/components/schemas/DailyAnalyticsDto'

    CategoryStatDto:
      type: object
      properties:
        name:
          type: string
        grossRevenue:
          type: number

    DailyAnalyticsDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        restaurant_id:
          type: string
          format: uuid
        date:
          type: string
          format: date-time
        category_name:
          type: string
        total_bookings:
          type: integer
        completed_orders:
          type: integer
        cancelled_orders:
          type: integer
        expired_orders:
          type: integer
        gross_revenue:
          type: number
        service_fee:
          type: number
        net_payout:
          type: number
        created_at:
          type: string
          format: date-time

    # ==================== COMMON ====================
    Pagination:
      type: object
      properties:
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Код ошибки
        message:
          type: string
          description: Человекочитаемое описание

    MessageResponse:
      type: object
      properties:
        message:
          type: string
